input_driver = "udev"
input_device = "SHANWAN Android Gamepad"
input_vendor_id = "9571"
input_product_id = "1318"
input_b_btn = "0"
input_y_btn = "3"
input_select_btn = "10"
input_start_btn = "11"
input_up_btn = "h0up"
input_down_btn = "h0down"
input_left_btn = "h0left"
input_right_btn = "h0right"
input_a_btn = "1"
input_x_btn = "4"
input_l_btn = "6"
input_r_btn = "7"
input_l2_btn = "8"
input_r2_btn = "9"
input_l3_btn = "13"
input_r3_btn = "14"
input_l_x_plus_axis = "+0"
input_l_x_minus_axis = "-0"
input_l_y_plus_axis = "+1"
input_l_y_minus_axis = "-1"
input_exit_emulator_btn = "11"
input_enable_hotkey_btn = "10"
input_state_slot_decrease_btn = "7"
input_menu_toggle_btn = "0"
input_state_slot_increase_btn = "6"
input_fps_toggle_btn = "92"
input_reset_btn = "1"
input_pause_toggle_btn = "8"
input_screenshot_btn = "95"
input_volume_up_btn = "93"
input_volume_down_btn = "94"
input_load_state_btn = "3"
input_save_state_btn = "4"
# Dpad to analog clone for Nintendo 64. funciona com ou sem 'Analog to Digital Type' ligado.
input_l_x_plus_axis = "+0"
input_l_x_minus_axis = "-0"
input_l_y_plus_axis = "+1"
input_l_y_minus_axis = "-1"
